body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    
}

h1 {
    font-size: 36px;
    color: #007BFF;
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    font-size: 28px;
    color: #0056b3;
    margin-bottom: 15px;
}

p {
    font-size: 18px;
    line-height: 1.7;
    margin-bottom: 20px;
    color: #1d1818;
}
